# Ignore bundler install path
/vendor/

# Ignore editor swap/backup files
*~
*.swp
*.swo

# Ignore Ruby temp files
*.rbc
*.log

# Ignore coverage reports (if you add SimpleCov later)
/coverage/

# Ignore system files
.DS_Store

